.button {
  .normalize-link();
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
  padding: 16px 4px 16px 4px;

  &--secondary {
    font-size: 17px;
    line-height: 16px;
    color: #ffffff;
    background-color: @color-accent;
    border: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}
