.catalog__list {
  .normalize-list();
}

.catalog__item-link {
  font-size: 17px;
  .normalize-link();
}

.catalog__item-title {
  .normalize-title();
}

.catalog__item-description {
  font-size: 13px;
  line-height: 30px;
  .normalize-title();
}

.catalog__cart {
  text-align: right;
  border: none;
}
