.main-container__form-description {
  font-size: 13px;
}

.main-container__form-title {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  .normalize-title();
}

.main-container__legend {
  font-size: 14px;
  line-height: 16px;
}
