.modal__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  .normalize-title();
}

.modal__group {
  border: none;
  .normalize-title();
}

.modal__list {
  display: flex;
  .normalize-list();
}

.modal__group-title {
  line-height: 30px;
}

.modal__item {
  padding: 18px 32px;
  border: 2px solid rgba(68, 68, 68, 0.1);
}

.modal__item--current {
  border-color: rgba(99, 209, 187, 1);
}

.modal__control {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
}
