.user-list {
  width: 100%;
  .normalize-list();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    align-self: center;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    height: 88px;
  }
}

.user-list__item {
  border-top: 1px solid #ececec;

  &:last-child {
    @media (max-width: @mobile-width-only) {
      border-bottom: 1px solid #ececec;
    }
  }

  @media (min-width: @tablet-width) {
    border-top: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:hover .user-list__item-link--cart {
    opacity: 0.6;
  }

  &:active .user-list__item-link--cart {
    opacity: 0.3;
  }
}

.user-list__item-link {
  display: flex;
  justify-content: center;
  font-size: 17px;
  line-height: 1;
  padding: 29px 0 27px 0;
  .normalize-link();

  @media (max-width: @mobile-width-only) {
    padding-bottom: 28px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 36px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media (min-width: @tablet-width) and (max-width: 1149px) {
    padding-right: 31px;
    padding-bottom: 35px;
    padding-left: 32px;
  }

  &--cart {
    padding-right: 0;
  }

  &:hover .user-list__icon {
    fill: rgba(99, 209, 187, 1);
  }

  &:active {
    fill: rgba(99, 209, 187, 1);
    opacity: 0.3;
  }
}

.user-list__icon {
  margin-right: 21px;

  @media (max-width: @mobile-width-only) {
    margin-left: 3px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 0;
    display: inline-block;
    vertical-align: top;
  }

  &--cart {
    @media (max-width: @mobile-width-only) {
      margin-left: 0;
    }

    @media (min-width: @tablet-width) {
      margin-right: 26px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 28px;
    }
  }
}

.user-list__link-wrap {
  @media (max-width: @mobile-width-only) {
    display: inline-block;
    min-width: 320px;
    padding: 0 20px 0 30px;
    text-align: left;
  }
}

.user-list__item-search {
  @media (min-width: @tablet-width) {
    .visually-hidden();
  }
}
