@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container {
  flex-grow: 1;
}
.container {
  padding-right: 30px;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .container {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
.button {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
  padding: 16px 4px 16px 4px;
}
.button--secondary {
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
@media (min-width: 768px) {
  .button {
    font-size: 17px;
  }
}
.button:hover {
  background-color: #444444;
  color: #ffffff;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.field {
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  background-color: transparent;
  padding-top: 17px;
  padding-bottom: 17px;
  border: none;
  border-bottom: 2px solid #444444;
}
.field--additionally {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  padding: 17px;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .field {
    font-size: 19px;
    padding: 16px 26px 18px 18px;
  }
}
.field:hover {
  border-color: #62d1ba;
}
.field:focus {
  outline: none;
  border-bottom: 2px solid #62d1ba;
}
.field--additionally:focus {
  outline: none;
  border: 2px solid #62d1ba;
}
.logo {
  width: 86px;
  height: 28px;
  fill: #000000;
}
@media (min-width: 768px) {
  .logo {
    width: 97px;
    height: 32px;
    fill: #ffffff;
  }
}
@media (min-width: 1150px) {
  .logo {
    width: 103px;
    height: 34px;
    fill: #ffffff;
  }
}
.navigation {
  order: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navigation--closed .navigation__toggle {
  background-image: url("../img/icons/menu.svg");
}
.navigation--opened .navigation__toggle {
  background-image: url("../img/icons/menu-close.svg");
}
@media (max-width: 767px) {
  .navigation--opened .site-list {
    position: absolute;
    background-color: #ffffff;
    width: 100vw;
    z-index: 1;
  }
}
@media (max-width: 767px) {
  .navigation--opened .user-list {
    position: absolute;
    top: 237px;
    background-color: #ffffff;
    width: 100vw;
    z-index: 1;
  }
}
@media (max-width: 767px) {
  .navigation--closed .navigation__list {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.navigation--nojs .navigation__toggle {
  display: none;
}
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: flex-end;
    width: 87%;
    max-width: 1050px;
  }
}
@media (min-width: 1150px) {
  .navigation {
    justify-content: space-between;
    width: 1050px;
  }
}
.navigation__toggle {
  width: 21px;
  height: 20px;
  position: absolute;
  top: 29px;
  right: 30px;
  background-repeat: no-repeat;
  background-size: 21px 20px;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.site-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) and (max-width: 1149px) {
  .site-list {
    position: absolute;
    top: 68px;
    left: 0;
    display: flex;
    width: 340px;
    flex-grow: 1;
    z-index: 1;
  }
}
@media (min-width: 1150px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 405px;
    height: 88px;
  }
}
.site-list__item {
  border-top: 1px solid #ececec;
}
@media (min-width: 768px) {
  .site-list__item {
    border-top: none;
    margin-right: 37px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1150px) {
  .site-list__item {
    margin-right: 35px;
    margin-left: 35px;
  }
  .site-list__item:first-child {
    margin-left: 0;
  }
  .site-list__item:last-child {
    margin: 0;
    padding-left: 35px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.site-list__item:hover .site-list__link {
  opacity: 0.6;
}
.site-list__item:active .site-list__link {
  opacity: 0.3;
}
.site-list__link {
  display: block;
  font-size: 17px;
  padding-top: 29px;
  padding-bottom: 27px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
@media (max-width: 767px) {
  .site-list__link {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .site-list__link {
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .site-list__link {
    padding-top: 36px;
  }
}
.site-list__link-wrap {
  display: inline-block;
}
.site-list__catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1149px) {
  .site-list__catalog {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media (min-width: 1150px) {
  .site-list__catalog {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 108px;
    left: 0;
    width: 349px;
    z-index: 1;
  }
}
.site-list__catalog-link {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.site-list__catalog__item {
  margin-right: 61px;
}
.site-list__catalog__item:last-child {
  margin-right: 0;
}
.site-list__catalog__item:hover .site-list__catalog-link {
  opacity: 0.6;
}
.site-list__catalog__item:active .site-list__catalog-link {
  opacity: 0.3;
}
.header {
  margin: 0 auto;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .header__wrapper {
    position: relative;
    height: 88px;
  }
}
.header__logo {
  display: block;
  height: 35px;
  position: relative;
  margin-top: 22px;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  .header__logo::after {
    content: "";
    background-image: url("../img/logo-line.svg");
    width: 79px;
    height: 3px;
    position: absolute;
    top: 31px;
    left: 0;
  }
}
@media (min-width: 768px) {
  .header__logo {
    width: 113px;
    height: 46px;
    background-image: url("../img/logo-back.svg");
    padding: 4px 8px 9px 8px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .header__logo {
    z-index: 1;
    position: absolute;
    top: 9px;
    left: 43%;
    width: 149px;
    height: 72px;
    background-image: url("../img/logo-rays.svg");
    padding: 18px 21px 20px 25px;
  }
}
.header__logo:hover {
  opacity: 0.6;
}
.header__logo:active {
  opacity: 0.3;
}
.header__remark {
  position: absolute;
  right: 0;
  margin: 0;
  padding-top: 20px;
  text-align: right;
  z-index: 1;
}
@media (max-width: 767px) {
  .header__remark {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header__remark {
    padding-right: 50px;
  }
}
.user-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    align-self: center;
    justify-content: flex-end;
  }
}
@media (min-width: 1150px) {
  .user-list {
    height: 88px;
  }
}
.user-list__item {
  border-top: 1px solid #ececec;
}
@media (max-width: 767px) {
  .user-list__item:last-child {
    border-bottom: 1px solid #ececec;
  }
}
@media (min-width: 768px) {
  .user-list__item {
    border-top: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.user-list__item:hover .user-list__item-link--cart {
  opacity: 0.6;
}
.user-list__item:active .user-list__item-link--cart {
  opacity: 0.3;
}
.user-list__item-link {
  display: flex;
  justify-content: center;
  font-size: 17px;
  line-height: 1;
  padding: 29px 26px 27px 0;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .user-list__item-link {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .user-list__item-link {
    padding-right: 31px;
    padding-left: 31px;
  }
}
@media (min-width: 1150px) {
  .user-list__item-link {
    padding-top: 36px;
  }
}
.user-list__item-link--cart {
  padding-right: 0;
}
.user-list__item-link:hover .user-list__icon {
  fill: #63d1bb;
}
.user-list__item-link:active {
  fill: #63d1bb;
  opacity: 0.3;
}
.user-list__icon {
  margin-right: 25px;
}
@media (min-width: 768px) {
  .user-list__icon {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .user-list__icon--cart {
    margin-right: 30px;
  }
}
@media (min-width: 768px) {
  .user-list__link-wrap--clipped {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.main-footer {
  background-color: #f1f1f1;
}
@media (max-width: 767px) {
  .main-footer__logo--clipped {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.main-footer__social {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .main-footer__social {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 0 58px 0;
  }
}
.main-footer__link-logo {
  fill: #000000;
}
.main-footer__link-logo:hover {
  fill: #46c1ae;
}
.main-footer__link-logo:active {
  fill: #46c1ae;
  opacity: 0.3;
}
.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 28px;
}
@media (min-width: 768px) {
  .social {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.social__item {
  margin-right: 29px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__icon {
  fill: #231f20;
}
.social__icon:hover {
  fill: #46c1ae;
}
.social__icon:active {
  opacity: 0.3;
}
.copyright {
  padding: 22px 30px 23px 30px;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
  }
}
.copyright__link {
  display: flex;
  justify-content: center;
  font-size: 19px;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.copyright__link:hover .copyright__img {
  fill: #46c1ae;
}
.copyright__link:active .copyright__img {
  opacity: 0.3;
}
.copyright__text {
  align-self: center;
  margin: 0;
  padding-right: 27px;
}
.copyright__img {
  fill: #63d1bb;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}
.modal-container--closed {
  display: none;
}
.modal {
  position: relative;
  margin: auto 0 auto 0;
  background-color: #fcfcfc;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border-top: 1px solid #c6c6c6;
  text-align: center;
  padding: 29px 30px 46px 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .modal {
    width: auto;
    margin: auto;
    padding: 38px 106px 46px 106px;
  }
}
.modal__title {
  max-width: 150px;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0 auto 14px auto;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal__title {
    max-width: 381px;
    font-size: 30px;
    line-height: 57px;
  }
}
.modal__group {
  border: none;
  margin: 0;
  padding: 0;
}
.modal__list {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 31px;
}
.modal__group-title {
  line-height: 30px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .modal__group-title {
    font-size: 17px;
  }
}
.modal__item {
  padding: 18px 32px;
  border: 2px solid rgba(68, 68, 68, 0.1);
}
.modal__item--current {
  border-color: #63d1bb;
}
.modal__item:hover {
  border: 2px solid rgba(68, 68, 68, 0.3);
}
.modal__item:active {
  border: 2px solid #62d1ba;
}
.modal__control {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
}
.modal__add {
  width: 100%;
}
@media (min-width: 768px) {
  .modal__add {
    width: 350px;
    margin: 0 auto;
  }
}
.zero {
  background-color: #f1f1f1;
  padding: 74px 0 74px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .zero {
    position: relative;
    padding: 101px 0 75px 0;
  }
  .zero::before {
    content: "";
    background-image: url("../img/zigzag-fill.svg");
    background-size: auto;
    background-repeat: repeat-x;
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: -12px;
    left: 0;
    z-index: 1;
  }
}
@media (min-width: 1150px) {
  .zero {
    padding: 102px 0 96px 0;
  }
  .zero::before {
    transform: scale(1.5);
    bottom: -15px;
  }
}
.zero__title {
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .zero__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .zero__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 39px;
  }
}
.products {
  padding-top: 73px;
  background-color: #f9f9f9;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
@media (min-width: 768px) {
  .products {
    position: relative;
    padding-top: 154px;
  }
  .products::before {
    content: "";
    background-image: url("../img/zigzag-fill.svg");
    background-size: auto;
    background-repeat: repeat-x;
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: -12px;
    left: 0;
    z-index: 1;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .products::before {
    transform: scale(1.5);
    bottom: -15px;
  }
}
.products__title {
  min-height: 175px;
  margin: 0 0 35px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
@media (max-width: 767px) {
  .products__title {
    max-width: 260px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .products__title {
    min-height: 437px;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
  }
}
@media (min-width: 1150px) {
  .products__title {
    min-height: 434px;
    font-size: 53px;
    line-height: 57px;
  }
}
.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .products__list {
    margin-right: -30px;
    margin-left: -30px;
  }
}
@media (min-width: 768px) {
  .products__list {
    display: flex;
    align-items: flex-end;
  }
}
.products__item {
  position: relative;
  padding-top: 5px;
  margin-bottom: -5px;
}
@media (min-width: 768px) {
  .products__item {
    flex: 0 0 50%;
    margin-bottom: 0;
  }
}
.products__item:hover {
  background-color: #59d5bc;
}
.products__item--secondary:hover {
  background-color: #46c1ae;
}
.products-links__wrapper {
  position: relative;
  background-color: #63d1bb;
}
.products-links__wrapper--secondary {
  background-color: #56c3b2;
}
@media (min-width: 1150px) {
  .products-links__wrapper {
    background-position: 92% 50%;
  }
}
.products-links__wrapper:hover {
  background-color: #59d5bc;
}
.products-links__wrapper--secondary:hover {
  background-color: #46c1ae;
}
.products__link {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  font-size: 19px;
  color: #ffffff;
  padding: 23px 27px 18px 30px;
}
.products__link::after {
  content: url("../img/icons/interior.svg");
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .products__link::after {
    top: 30px;
  }
}
.products__link--secondary::after {
  content: url("../img/icons/toy.svg");
  position: absolute;
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .products__link--secondary::after {
    top: 31px;
  }
}
@media (min-width: 768px) {
  .products__link {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 36px 34px 36px;
  }
}
@media (min-width: 1150px) {
  .products__link {
    padding: 25px 37px 34px 37px;
  }
}
.products__link:hover {
  padding-top: 18px;
  padding-bottom: 23px;
}
.products__link:hover::after {
  top: 18px;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .products__link:hover::after {
    top: 25px;
  }
}
.products__link:hover--secondary::after {
  top: 16px;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .products__link:hover--secondary::after {
    top: 26px;
  }
}
@media (min-width: 768px) {
  .products__link:hover {
    padding-top: 20px;
    padding-bottom: 39px;
  }
}
.products__link:active::after {
  opacity: 0.3;
}
.products__link:active--secondary::after {
  opacity: 0.3;
}
.promo {
  position: relative;
  padding: 31px 0 36px 0;
}
.promo::before {
  content: "";
  background-image: url("../img/zigzag-line.svg");
  background-size: auto;
  background-repeat: repeat-x;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .promo::before {
    transform: scale(2);
  }
}
@media (min-width: 1150px) {
  .promo::before {
    transform: scale(3);
  }
}
@media (min-width: 768px) {
  .promo {
    padding: 40px 0 52px 0;
  }
}
@media (min-width: 1150px) {
  .promo {
    padding-top: 54px;
    padding-bottom: 73px;
  }
}
@media (min-width: 768px) {
  .promo__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "titles titles titles titles" "description description image image" "description description image image" "price price image image" "order order image image";
  }
}
@media (min-width: 1150px) {
  .promo__wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}
.promo__titles__wrapper {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .promo__titles__wrapper {
    grid-area: titles;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 38px;
    padding-right: 27px;
  }
}
@media (min-width: 1150px) {
  .promo__titles__wrapper {
    grid-area: 1 / 1 / 2 / 7;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 35px;
    padding-top: 61px;
  }
}
.promo__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .promo__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.promo__remark {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}
@media (min-width: 768px) {
  .promo__remark {
    width: 100px;
    line-height: 17px;
    text-align: center;
  }
}
@media (min-width: 1150px) {
  .promo__remark {
    order: -1;
    margin-right: 57px;
  }
}
.promo__description {
  margin: 0;
}
@media (min-width: 768px) {
  .promo__description {
    max-width: 264px;
  }
}
@media (min-width: 1150px) {
  .promo__description {
    max-width: 292px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .promo__description-wrapper {
    grid-area: description;
    width: 2fr;
  }
}
@media (min-width: 1150px) {
  .promo__description-wrapper {
    grid-area: 2 / 2 / 4 / 4;
    margin-bottom: 109px;
  }
}
.promo__list {
  margin-top: 28px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .promo__list {
    max-width: 292px;
    margin-top: 48px;
    margin-bottom: 70px;
  }
}
.promo__item {
  display: flex;
  line-height: 20px;
  padding-top: 7px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
}
.promo__nomination {
  width: 97px;
}
.promo__value {
  margin: 0;
  padding: 0;
}
.promo__image {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .promo__image {
    grid-area: image;
    width: 2fr;
    align-self: end;
  }
}
@media (min-width: 1150px) {
  .promo__image {
    grid-area: 1 / 4 / 6 / 7;
    order: -2;
    height: 100%;
  }
}
.promo__price {
  margin-top: 26px;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__price {
    grid-area: price;
    margin-top: 0;
    margin-right: 42px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1150px) {
  .promo__price {
    grid-area: 4 / 2 / 5 / 4;
    font-size: 20px;
    margin-bottom: 33px;
  }
}
@media (min-width: 768px) {
  .promo__order {
    grid-area: order;
    margin-right: 42px;
    height: 52px;
  }
}
@media (min-width: 1150px) {
  .promo__order {
    grid-area: 5 / 2 / 6 / 4;
  }
}
.about {
  padding: 31px 0 58px 0;
}
@media (min-width: 768px) {
  .about {
    padding: 56px 0 82px 0;
  }
}
.about__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .about__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 39px;
  }
}
.about__list {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .about__list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 57px;
  }
}
.about__item--materials {
  background-image: url("../img/icons/materials.svg");
  background-repeat: no-repeat;
  background-size: 33px 38px;
  padding-top: 54px;
  padding-bottom: 30px;
}
.about__item--style {
  background-image: url("../img/icons/style.svg");
  background-repeat: no-repeat;
  background-size: 47px 27px;
  padding-top: 53px;
  padding-bottom: 35px;
}
.about__item--likes {
  background-image: url("../img/icons/likes.svg");
  background-repeat: no-repeat;
  background-size: 34px 27px;
  padding-top: 48px;
  padding-bottom: 32px;
}
.about__item--handmade {
  background-image: url("../img/icons/handmade.svg");
  background-repeat: no-repeat;
  background-size: 35px 34px;
  padding-top: 51px;
  padding-bottom: 33px;
}
.about__item--support {
  background-image: url("../img/icons/support.svg");
  background-repeat: no-repeat;
  background-size: 55px 23px;
  padding-top: 49px;
  padding-bottom: 32px;
}
.about__item--gift {
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-size: 33px 32px;
  padding-top: 52px;
}
@media (min-width: 768px) {
  .about__item {
    padding-bottom: 0;
  }
}
.about__description {
  margin: 0;
}
@media (min-width: 1150px) {
  .about__wrapper {
    padding-left: 175px;
  }
}
.reviews {
  position: relative;
  padding-bottom: 45px;
}
.reviews::before {
  content: "";
  background-image: url("../img/zigzag-line.svg");
  background-size: auto;
  background-repeat: repeat-x;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .reviews::before {
    bottom: -68px;
    transform: scale(2);
  }
}
@media (min-width: 1150px) {
  .reviews::before {
    transform: scale(3);
  }
}
@media (min-width: 768px) {
  .reviews {
    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;
    padding: 83px 0 47px 0;
    margin-bottom: 68px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    background-size: 350px 457px;
  }
}
.reviews__wrapper {
  display: flex;
  flex-direction: column;
}
.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .reviews__title {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    grid-area: 1 / 2 / 2 / 5;
    font-size: 53px;
    line-height: 57px;
  }
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .reviews__list {
    grid-area: list;
  }
}
.reviews__text {
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .reviews__text {
    font-size: 17px;
    margin-top: 39px;
    margin-bottom: 61px;
  }
}
.reviews__author-info {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .reviews__author-info {
    width: 50%;
  }
}
.reviews__author-name {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .reviews__author-name {
    font-size: 17px;
  }
}
.reviews__author-nickname {
  font-size: 17px;
  font-style: normal;
  line-height: 30px;
  margin: 0;
}
.reviews__write {
  order: 1;
}
@media (min-width: 768px) {
  .reviews__write {
    grid-area: 1 / 3 / 2 / 5;
    order: 0;
    width: 175px;
    height: 52px;
    justify-self: end;
  }
}
@media (min-width: 1150px) {
  .reviews__write {
    grid-area: 1 / 6 / 2 / 7;
  }
}
.reviews__buttons__wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .reviews__buttons__wrapper {
    grid-area: 3 / 4 / 4 / 5;
    justify-content: center;
  }
}
@media (min-width: 1150px) {
  .reviews__buttons__wrapper {
    grid-area: 3 / 6 / 4 / 7;
  }
}
@media (min-width: 768px) {
  .slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media (min-width: 1150px) {
  .slider {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 768px) {
  .slider__list {
    grid-area: 2 / 1 / 4 / 5;
  }
}
@media (min-width: 1150px) {
  .slider__list {
    grid-area: 2 / 2 / 4 / 7;
  }
}
.slider__button {
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-position: center;
}
.slider__button--next {
  transform: rotate(180deg);
  border-right: none;
}
@media (min-width: 768px) {
  .slider__button--next {
    margin-left: 37px;
  }
}
@media (min-width: 768px) {
  .slider__button {
    width: 50px;
    border: none;
  }
}
.slider__button:hover {
  opacity: 0.6;
}
.slider__button:active {
  opacity: 0.3;
}
.contacts {
  display: flex;
  flex-direction: column;
  padding: 38px 0 39px 0;
}
@media (min-width: 768px) {
  .contacts {
    padding: 68px 0 57px 0;
    position: relative;
  }
}
.contacts__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .contacts__title::after {
    content: "";
    background-image: url("../img/icons/flag.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 81px;
    position: absolute;
    top: -22px;
    right: 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__title::after {
    display: block;
    left: 6%;
    top: 60px;
  }
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1150px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 35px;
  }
}
.contacts__address {
  font-size: 14px;
  font-style: normal;
  line-height: 30px;
  margin-bottom: 62px;
}
@media (min-width: 768px) {
  .contacts__address {
    display: flex;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .contacts__address {
    display: block;
  }
}
.contacts__email {
  text-underline-offset: 6px;
  -webkit-text-decoration-color: #62d1ba;
          text-decoration-color: #62d1ba;
  color: #444444;
}
.contacts__email:hover {
  color: #46c1ae;
}
.contacts__email:active {
  color: #46c1ae;
  -webkit-text-decoration-color: rgba(70, 193, 174, 0.1);
          text-decoration-color: rgba(70, 193, 174, 0.1);
}
.contacts-info__wrapper {
  display: flex;
  margin-bottom: 30px;
}
.contacts-info__wrapper:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts-info__wrapper {
    width: 50%;
  }
}
@media (min-width: 1150px) {
  .contacts-info__wrapper {
    width: auto;
  }
}
.contacts__address-title {
  width: 44px;
  margin-right: 30px;
}
@media (min-width: 768px) {
  .contacts__address-title {
    width: 55px;
    margin-right: 25px;
  }
}
@media (min-width: 1150px) {
  .contacts__address-title {
    margin-right: 23px;
  }
}
.contacts__address-text {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.contacts__write {
  order: 1;
  margin-top: 42px;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .contacts__write {
    align-self: center;
    width: 230px;
    margin: 55px auto 0 auto;
  }
}
@media (min-width: 1150px) {
  .contacts__write {
    align-self: flex-end;
    grid-area: 2 / 2 / 3 / 4;
    margin-left: 0;
  }
}
@media (min-width: 1150px) {
  .contact__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media (min-width: 1150px) {
  .contact-text__wrapper {
    grid-area: 1 / 2 / 2 / 4;
    padding-top: 80px;
  }
}
.map {
  position: relative;
}
@media (min-width: 1150px) {
  .map {
    grid-area: 1 / 4 / 3 / 7;
  }
}
.map__frame {
  position: relative;
  border: none;
  display: block;
  width: 115%;
  margin-right: -30px;
  margin-left: -30px;
}
@media (min-width: 768px) and (max-width: 1149px) {
  .map__frame {
    margin-right: -50px;
    margin-left: -50px;
  }
}
@media (min-width: 1150px) {
  .map__frame {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
.map__toggle {
  position: absolute;
  width: 67px;
  height: 100px;
  top: 30%;
  left: 43%;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.catalog {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
@media (min-width: 1150px) {
  .catalog {
    padding-bottom: 57px;
  }
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1150px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 316px);
    gap: 51px;
  }
}
.catalog__item {
  margin-bottom: 30px;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .catalog__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 73px;
  }
}
@media (min-width: 1150px) {
  .catalog__item {
    display: block;
    margin-bottom: 0;
  }
}
.catalog__item:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.catalog__item:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .catalog-image__wrapper {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .catalog__item-link {
    display: flex;
    grid-area: 1 / 1 / 3 / 3;
  }
}
@media (min-width: 1150px) {
  .catalog__item-link {
    display: block;
  }
}
.catalog-description__wrapper {
  margin: 28px 28px 0 28px;
}
@media (min-width: 768px) {
  .catalog-description__wrapper {
    grid-area: 1 / 2 / 2 / 3;
    margin: 27px 33px 0 33px;
    height: 1fr;
  }
}
@media (min-width: 1150px) {
  .catalog-description__wrapper {
    margin: 27px 26px 0 28px;
  }
}
.catalog__link {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.catalog__link:hover .catalog__link-title {
  opacity: 0.6;
}
.catalog__link:active .catalog__link-title {
  opacity: 0.3;
}
.catalog__link-title {
  margin: 0;
  padding: 0;
  font-size: 17px;
  text-align: left;
  padding-bottom: 6px;
}
@media (min-width: 768px) {
  .catalog__link-title {
    font-size: 20px;
  }
}
.catalog__item-description {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  padding-bottom: 17.5px;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .catalog__item-description {
    font-size: 15px;
    padding-bottom: auto;
    border: none;
    border-bottom: 1px solid #ececec;
  }
}
.catalog__cart {
  text-align: right;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.catalog__cart:hover .cart-icon {
  fill: #63d1bb;
}
.catalog__cart:active {
  opacity: 0.3;
}
.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 27px 27px 28px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding: 24px 33px 26px 33px;
    height: 73px;
    align-self: end;
    grid-area: 2 / 2 / 3 / 3;
  }
}
@media (min-width: 1150px) {
  .catalog__wrapper {
    border-top: none;
  }
}
@media (min-width: 768px) {
  .catalog__price {
    font-size: 17px;
  }
}
.production {
  margin-bottom: 58px;
}
@media (min-width: 768px) {
  .production {
    margin-bottom: 64px;
  }
}
@media (min-width: 1150px) {
  .production {
    margin-bottom: 105px;
  }
}
.production__wrapper {
  position: relative;
  text-align: center;
  padding-bottom: 33px;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .production__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 46px;
  }
}
@media (min-width: 1150px) {
  .production__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    padding-bottom: 0;
  }
}
.production__wrapper:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.production__wrapper:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.production__title {
  position: relative;
  max-width: 156px;
  font-size: 17px;
  color: #000000;
  text-align: left;
  margin: 22px auto 27px 91px;
}
.production__title::after {
  content: "";
  position: absolute;
  top: 25%;
  left: -57px;
  background-image: url("../img/icons/video.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
@media (min-width: 768px) {
  .production__title::after {
    top: 0;
    left: -65px;
  }
}
@media (min-width: 1150px) {
  .production__title::after {
    grid-area: 1 / 5 / 2 / 7;
    top: -49px;
    left: 0;
  }
}
@media (min-width: 768px) {
  .production__title {
    order: 1;
    max-width: 100%;
    font-size: 20px;
    margin: 41px auto 25px 107px;
  }
}
@media (min-width: 1150px) {
  .production__title {
    grid-area: 1 / 5 / 2 / 7;
    margin: 96px auto 0 62px;
    max-width: 178px;
  }
}
.production__video {
  position: relative;
  width: 100%;
  height: auto;
}
@media (min-width: 1150px) {
  .production__video {
    width: auto;
    min-height: 455px;
    margin-left: -15px;
  }
}
.production__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 100%;
  height: auto;
  top: 26%;
  left: 0;
}
@media (min-width: 1150px) {
  .production__toggle {
    top: 40%;
    left: -16%;
  }
}
.production__toggle:hover {
  transform: scale(1.2);
}
.production__toggle:active {
  transform: scale(0.8);
  opacity: 0.3;
}
.production__description {
  font-size: 13px;
  margin: 35px 34px 41px 34px;
}
@media (min-width: 768px) {
  .production__description {
    order: 1;
    font-size: 15px;
    text-align: left;
    margin: 0 42px 41px 42px;
  }
}
@media (min-width: 1150px) {
  .production__description {
    grid-area: 1 / 5 / 2 / 7;
    margin: 172px auto 0 62px;
  }
}
.production__order {
  width: 192px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .production__order {
    order: 1;
    width: inherit;
    margin: 0 42px 0 42px;
  }
}
@media (min-width: 1150px) {
  .production__order {
    grid-area: 2 / 5 / 3 / 7;
    width: 230px;
    height: 52px;
    margin: 0 auto 0 62px;
  }
}
@media (min-width: 1150px) {
  .production-video__wrapper {
    max-height: 455px;
    grid-area: 1 / 1 / 3 / 5;
  }
}
.form {
  padding: 17px 0 55px 0;
}
@media (min-width: 768px) {
  .form {
    padding: 54px 0 50px 0;
  }
}
.form__description {
  font-size: 13px;
  margin: 0;
}
@media (min-width: 768px) {
  .form__description {
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .form__description {
    margin-right: 16%;
    margin-left: 16%;
  }
}
.form__legend {
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 767px) {
  .form__legend {
    display: block;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .form__legend {
    position: absolute;
    margin-top: 20px;
    right: 50px;
  }
}
@media (min-width: 1150px) {
  .form__legend {
    margin-right: 16%;
    right: 0;
  }
}
.form__wrapper:last-of-type {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form__wrapper:last-of-type {
    position: relative;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .form__wrapper:nth-child(even) {
    background-color: #f1f1f1;
  }
}
.form__order {
  width: 100%;
}
@media (min-width: 768px) {
  .form__order {
    width: auto;
    padding: 18px 32px 18px 32px;
  }
}
@media (min-width: 1150px) {
  .form__order {
    margin-left: 14%;
  }
}
.type {
  border: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .type {
    position: relative;
  }
}
.type__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .type__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 123%;
    background-color: #62d1ba;
    width: 60vw;
    height: 1px;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .type__title {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;
  }
}
@media (min-width: 1150px) {
  .type__title {
    margin-left: 60px;
  }
}
.type__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .type__list {
    margin-left: 25%;
    margin-top: 0;
  }
}
@media (min-width: 1150px) {
  .type__list {
    margin-left: 16%;
  }
}
.type__item {
  margin-bottom: 12px;
}
.type__item:last-child {
  margin-bottom: 0;
}
.type-wrapper {
  margin-top: 29px;
}
@media (min-width: 768px) {
  .type-wrapper {
    margin-top: 63px;
  }
}
.control {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}
@media (min-width: 768px) {
  .control {
    font-size: 19px;
  }
}
.control:hover .control-mark {
  border-color: #62d1ba;
}
.control__mark {
  position: relative;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  border: 2px solid #444444;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .control__mark {
    width: 52px;
    height: 52px;
  }
}
.control__mark:hover {
  border-color: #62d1ba;
}
.control__mark:active {
  border-color: rgba(0, 0, 0, 0.3);
}
.control__input[type="checkbox"] + .control__mark {
  width: 38px;
  height: 38px;
  border-radius: 0;
  margin-right: 2px;
}
@media (min-width: 768px) {
  .control__input[type="checkbox"] + .control__mark {
    width: 52px;
    height: 52px;
  }
}
.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 18px;
  height: 18px;
  background-color: #62d1ba;
  border-radius: 50%;
  content: "";
}
@media (min-width: 768px) {
  .control__input[type="radio"]:checked + .control__mark::before {
    top: 28%;
    left: 28%;
    width: 23px;
    height: 23px;
  }
}
.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 23px;
  height: 16px;
  border: none;
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-size: 23px 16px;
  content: "";
}
@media (min-width: 768px) {
  .control__input[type="checkbox"]:checked + .control__mark::before {
    top: 27%;
    left: 17%;
    width: 32px;
    height: 22px;
    background-size: 32px 22px;
  }
}
.control__label {
  display: block;
  box-sizing: content-box;
  padding-left: 19px;
  max-width: 200px;
}
@media (min-width: 768px) {
  .control__label {
    padding-left: 26px;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media (min-width: 1150px) {
  .control__label {
    padding-left: 28px;
  }
}
.color {
  border: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .color {
    position: relative;
  }
}
.color__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .color__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 115%;
    background-color: #62d1ba;
    width: 60vw;
    height: 1px;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .color__title {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;
  }
}
@media (min-width: 1150px) {
  .color__title {
    margin-left: 60px;
  }
}
.color__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .color__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 48px;
    margin-left: 25%;
    margin-top: 0;
  }
}
@media (min-width: 1150px) {
  .color__list {
    margin-left: 16%;
    grid-template-columns: repeat(3, 1fr);
  }
}
.color__item {
  margin-bottom: 23px;
}
.color__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .color__item {
    margin-bottom: 0;
  }
}
.color-wrapper {
  margin-top: 31px;
}
@media (min-width: 768px) {
  .color-wrapper {
    margin-top: 67px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.name {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 33px;
}
@media (min-width: 768px) {
  .name {
    position: relative;
    margin-top: 67px;
  }
}
.name__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}
@media (max-width: 767px) {
  .name__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 117%;
    background-color: #62d1ba;
    width: 60vw;
    height: 1px;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .name__title {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;
  }
}
@media (min-width: 1150px) {
  .name__title {
    margin-left: 60px;
  }
}
.name__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}
@media (min-width: 768px) {
  .name__label {
    font-size: 19px;
    margin-right: 24px;
    margin-bottom: 5px;
  }
}
.name__form {
  margin-top: 0;
  margin-bottom: 22px;
}
.name__form:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .name__form {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-bottom: 24px;
  }
}
@media (min-width: 1150px) {
  .name__form {
    margin-right: 16%;
    margin-left: 16%;
  }
}
.info {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .info {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.info__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .info__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 119%;
    background-color: #62d1ba;
    width: 60vw;
    height: 1px;
    z-index: -1;
  }
}
@media (min-width: 1150px) {
  .info__title {
    margin-left: 60px;
  }
}
.info__form {
  margin-top: 0;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .info__form:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .info__form {
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
  }
}
@media (min-width: 1150px) {
  .info__form {
    grid-template-columns: 16% auto;
    margin-right: 16%;
  }
}
.info__field {
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 25px 24px;
  padding-right: 38px;
}
@media (min-width: 768px) {
  .info__field {
    background-position: 97% center;
    padding-right: 55px;
  }
}
@media (min-width: 1150px) {
  .info__field {
    background-position: 99% center;
    padding-right: 37px;
  }
}
.info__field:hover {
  background-image: url("../img/icons/phone-accent.svg");
}
.info__field:focus {
  background-image: url("../img/icons/phone-accent.svg");
}
.info__field--mail {
  background-image: url("../img/icons/mail.svg");
  background-position: 99% center;
  background-size: 32px 21px;
  padding-right: 40px;
}
@media (min-width: 768px) {
  .info__field--mail {
    background-position: 97.5% center;
    padding-right: 58px;
  }
}
@media (min-width: 1150px) {
  .info__field--mail {
    background-position: 99% center;
    padding-right: 40px;
  }
}
.info__field--mail:hover {
  background-image: url("../img/icons/mail-accent.svg");
}
.info__field--mail:focus {
  background-image: url("../img/icons/mail-accent.svg");
}
.additionally {
  border: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .additionally {
    position: relative;
    margin-top: 50px;
  }
}
.additionally__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .additionally__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 119%;
    background-color: #62d1ba;
    width: 60vw;
    height: 1px;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .additionally__title {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (min-width: 1150px) {
  .additionally__title {
    margin-left: 60px;
  }
}
.additionally__group {
  margin-top: 23px;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .additionally__group {
    margin-top: 0;
    margin-bottom: 53px;
    margin-left: 25%;
  }
}
@media (min-width: 1150px) {
  .additionally__group {
    margin-right: 16%;
    margin-left: 14%;
  }
}
html {
  height: 100%;
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 15px;
  line-height: 24px;
  background-color: #ffffff;
  color: #444444;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */
