@import "./global/fonts.less";
@import "./global/variable.less";
@import "./global/common.less";
@import "./blocks/container.less";
@import "./blocks/button.less";
@import "./blocks/field.less";
@import "./blocks/logo.less";
@import "./blocks/navigation.less";
@import "./blocks/site-list.less";
@import "./blocks/header.less";
@import "./blocks/user-list.less";
@import "./blocks/main-footer.less";
@import "./blocks/social.less";
@import "./blocks/copyright.less";
@import "./blocks/modal-container.less";
@import "./blocks/modal.less";
@import "./blocks/zero.less";
@import "./blocks/index/products.less";
@import "./blocks/index/promo.less";
@import "./blocks/index/about.less";
@import "./blocks/index/reviews.less";
@import "./blocks/index/slider.less";
@import "./blocks/index/contacts.less";
@import "./blocks/index/map.less";
@import "./blocks/catalog/catalog.less";
@import "./blocks/catalog/production.less";
@import "./blocks/form/form.less";
@import "./blocks/form/type.less";
@import "./blocks/form/control.less";
@import "./blocks/form/color.less";
@import "./blocks/form/name.less";
@import "./blocks/form/info.less";
@import "./blocks/form/additionally.less";

html {
  height: 100%;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  background-color: #ffffff;
  color: #444444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
