.contacts__title {
  font-size: 25px;
  line-height: 30px;
  color: @color-dark;
  .normalize-title();
}

.contacts__address {
  font-size: 14px;
  font-style: normal;
  line-height: 30px;
}

.contacts__email {
  text-underline-offset: 6px;
  text-decoration-color: #62d1ba;
  color: #444444;
}

.contacts__address-text {
  .normalize-title();
}
