.products {
  max-width: 100%;
  padding-top: 73px;
  background-color: #f9f9f9;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -17px;
  overflow: hidden;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero@2x.jpg");
    background-size: auto 380px;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 154px;
    background-image: url("../img/hero-desktop.jpg");
    background-position-y: top;

    &::before {
      content: "";
      background-image: url("../img/zigzag-fill.svg");
      background-size: auto;
      background-repeat: repeat-x;
      width: 100%;
      height: 24px;
      position: absolute;
      bottom: -12px;
      left: 0;
      z-index: 1;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: auto 100%;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      transform: scale(1.5);
      bottom: -15px;
    }
  }
}

.products__title {
  min-height: 90px + 120px;
  margin: 0 0 35px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1;
  text-align: center;
  color: @color-dark;

  @media (max-width: @mobile-width-only) {
    max-width: 260px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    min-height: 100px + 372px - 35px;
    font-size: 43px;
    line-height: 1;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    min-height: 114px + 355px - 35px;
    font-size: 53px;
    line-height: 1;
  }
}

.products__list {
  .normalize-list();

  @media (max-width: @mobile-width-only) {
    margin-right: -30px;
    margin-left: -30px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: flex-end;
  }
}

.products__item {
  position: relative;
  padding-top: 5px;
  margin-bottom: -5px;

  @media (min-width: @tablet-width) {
    flex: 0 0 50%;
    margin-bottom: 0;
  }

  &:hover {
    background-color: #59d5bc;
  }

  &--secondary:hover {
    background-color: #46c1ae;
  }
}

.products__wrapper {
  position: relative;
  background-color: @color-accent;

  &--secondary {
    background-color: #56c3b2;
  }

  @media (min-width: @desktop-width) {
    background-position: 92% 50%;
  }

  &:hover {
    background-color: #59d5bc;
  }

  &--secondary:hover {
    background-color: #46c1ae;
  }
}

.products__link {
  .normalize-link();
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  font-size: 19px;
  color: #ffffff;
  padding: 23px 27px 18px 30px;

  &::after {
    content: "";
    background-image: url("../img/sprite.svg#interior");
    background-repeat: no-repeat;
    background-size: 40px 62px;
    position: absolute;
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    opacity: 0.5;
  }

  &--secondary::after {
    content: "";
    background-image: url("../img/sprite.svg#toy");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    position: absolute;
    top: 21px;
    right: 27px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 36px 34px 36px;

    &::after {
      top: 30px;
    }

    &--secondary::after {
      top: 31px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 25px 37px 34px 37px;
  }

  &:hover {
    padding-top: 18px;
    padding-bottom: 23px;

    &::after {
      top: 18px;
      opacity: 0.7;
    }

    &--secondary::after {
      top: 16px;
      opacity: 0.7;
    }

    @media (min-width: @tablet-width) {
      padding-top: 20px;
      padding-bottom: 39px;

      &::after {
        top: 25px;
      }

      &--secondary::after {
        top: 26px;
      }
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }

    &--secondary::after {
      opacity: 0.3;
    }
  }
}
