.promo__title {
  font-size: 25px;
  line-height: 30px;
  color: @color-dark;
  .normalize-title();
}

.promo__remark {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-accent;
}

.promo__description {
  margin: 0;
}

.promo__item {
  line-height: 20px;
}

.promo__value {
  .normalize-title();
}

.promo__price {
  font-size: 17px;
  font-weight: 700;
  .normalize-title();
}
