.promo {
  position: relative;
  padding: 37px 0 36px 0;
  overflow: hidden;

  &::before {
    content: "";
    background-image: url("../img/zigzag-line.svg");
    background-size: auto;
    background-repeat: repeat-x;
    width: 100vw;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 56px 0 80px 0;

    &::before {
      transform: scale(2.6);
      height: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 72px;
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }
}

.promo__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "titles titles titles titles"
      "description description image image"
      "description description image image"
      "price price image image"
      "order order image image";
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    padding-bottom: 92px;
    position: relative;

    &::after {
      content: "";
      background-image: url("../img/zigzag-line.svg");
      background-size: auto 100%;
      background-repeat: repeat-x;
      position: absolute;
      width: 1050px;
      margin-right: auto;
      margin-left: auto;
      height: 23px;
      bottom: 0;
    }
  }
}

.promo__titles__wrapper {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    grid-area: titles;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-right: 13px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 1 / 1 / 2 / 7;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 31px;
    padding-top: 56px;
    padding-right: 27px;
  }
}

.promo__title {
  font-size: 25px;
  line-height: 30px;
  color: @color-dark;
  .normalize-title();

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 1;
  }
}

.promo__remark {
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: @color-accent;

  @media (min-width: @tablet-width) {
    width: 100px;
    line-height: 1;
    text-align: center;
    margin-top: -7px;
  }

  @media (min-width: @desktop-width) {
    order: -1;
    margin-right: 43px;
    margin-left: 32px;
  }
}

.promo__description {
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 292px;
  }
}

.promo__description-wrapper {
  @media (min-width: @tablet-width) {
    grid-area: description;
    width: 2fr;
    margin-right: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 2 / 2 / 4 / 4;
  }
}

.promo__list {
  margin-top: 20px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
    margin-bottom: 70px;
  }
}

.promo__item {
  display: flex;
  line-height: 20px;
  padding-top: 7px;
  padding-bottom: 13px;
  border-bottom: 1px solid #ececec;
}

.promo__nomination {
  width: 97px;
}

.promo__value {
  .normalize-title();
}

.promo__image {
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    height: 100%;
  }
}

.promo__price {
  margin-top: 20px;
  margin-bottom: 23px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-area: price;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    margin-right: 46px;
    margin-bottom: 33px;
    align-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-area: 4 / 2 / 5 / 4;
    margin-right: 58px;
    margin-bottom: 20px;
  }
}

.promo__order {
  @media (min-width: @tablet-width) {
    align-self: end;
    grid-area: order;
    margin-right: 42px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 5 / 2 / 6 / 4;
    margin-right: 58px;
  }
}

.promo__poster-wrap {
  @media (min-width: @tablet-width) {
    grid-area: image;
    align-self: end;
    vertical-align: bottom;
    margin-bottom: -6px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 1 / 4 / 6 / 7;
    order: -2;
    height: 636px;
    margin-bottom: 0;
  }
}
