.additionally {
  border: none;
  .normalize-title();

  @media (min-width: @tablet-width) {
    position: relative;
    margin-top: 50px;
  }
}

.additionally__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-accent;
  .normalize-title();

  &::after {
    @media (max-width: @mobile-width-only) {
      content: "";
      position: absolute;
      top: 50%;
      left: 100% + 19px;
      background-color: #62d1ba;
      width: 90vw - 30px;
      height: 1px;
      z-index: -1;
    }
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.additionally__group {
  margin-top: 23px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 53px;
    margin-left: 25%;
  }

  @media (min-width: @desktop-width) {
    margin-right: 16%;
    margin-left: 14%;
  }
}

.additionally__field {
  padding: 17px;
}
