.additionally {
  border: none;
  .normalize-title();

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: 50px;
  }
}

.additionally__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-accent;
  .normalize-title();
}

.additionally__group {
  margin-top: 23px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 53px;
  }
}
