.additionally {
  border: none;
  .normalize-title();

  @media (min-width: @tablet-width) {
    position: relative;
    margin-top: 50px;
  }
}

.additionally__title {
  display: flex;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: @color-accent;
  width: 100%;
  .normalize-title();

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      flex: 1 0 auto;
      background-color: #62d1ba;
      height: 1px;
      margin-top: 8px;
      margin-left: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 16px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.additionally__group {
  margin-top: 23px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 53px;
    margin-left: 25%;
  }

  @media (min-width: @desktop-width) {
    margin-right: 16%;
    margin-left: 14%;
  }
}
