.color {
  border: none;
  .normalize-title();

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.color__title {
  display: flex;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: @color-accent;
  width: 100%;
  .normalize-title();

  &::after {
    @media (max-width: @mobile-width-only) {
      content: "";
      flex: 1 0 auto;
      background-color: #62d1ba;
      height: 1px;
      margin-top: 8px;
      margin-left: 15px;
    }
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.color__list {
  .normalize-list();
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 48px;
    margin-left: 25%;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 16%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.color__item {
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.color-wrapper {
  margin-top: 31px;

  @media (min-width: @tablet-width) {
    margin-top: 67px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
