.info {
  .normalize-title();
  border: none;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.info__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-accent;
  .normalize-title();

  &::after {
    @media (max-width: @mobile-width-only) {
      content: "";
      position: absolute;
      top: 50%;
      left: 100% + 19px;
      background-color: #62d1ba;
      width: 90vw - 30px;
      height: 1px;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.info__form {
  margin-top: 0;
  margin-bottom: 35px;

  &:last-child {
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 16% auto;
    margin-right: 16%;
  }
}
