.name {
  .normalize-title();
  border: none;
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    margin-top: 67px;
  }
}

.name__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-accent;
  .normalize-title();
}

.name__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: @color-dark;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}

.name__form {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}
