.name {
  border: none;
}

.name__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-accent;
  .normalize-title();
}

.name__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: @color-dark;
}
