.type {
  border: none;
  .normalize-title();

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.type__title {
  display: flex;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: @color-accent;
  width: 100%;
  .normalize-title();

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      flex: 1 0 auto;
      background-color: #62d1ba;
      height: 1px;
      margin-top: 8px;
      margin-left: 23px;
    }
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.type__list {
  .normalize-list();
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin-left: 25%;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 16%;
  }
}

.type__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.type-wrapper {
  margin-top: 29px;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
  }
}
