.type {
  border: none;
  .normalize-title();

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.type__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-accent;
  .normalize-title();
}

.type__list {
  .normalize-list();
  margin-top: 30px;
}

.type__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.type-wrapper {
  margin-top: 29px;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
  }
}
